.articleContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.singleContainer {
    margin: 5%;
}

@media only screen 
  and (max-device-width: 700px) {

    .articleContainer {
        display: inline;
    }
    
    .singleContainer {
        margin: 5%;
    }
}