.NewLink {
    white-space: nowrap;
    height: 5em;
    width: 7em;
    background-color: rgb(255, 72, 72);
    padding: 1.5em;
    color: black;
}

.NewLink:hover {
    background-color: salmon;
}

.NewLink span {
    display: inline-block;
    vertical-align: middle;
    padding-left: 3em;
}

.NewLink h3 {
    display: inline-block;
    vertical-align: middle;
}

.buttonContainer {
    margin-top: 5em;
}

.siteLabel {
    margin-top: 3em;
}