/* .articleContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5% 5%;
    overflow: hidden;
} */

.articleContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.singleContainer {
    margin: 5%;
}