.image {
    width: 100%;
    border-radius: 2em;
    object-fit: cover;
    height:25em;
}

.container {
    border: 2px solid lightgray;
    border-radius: 2em;
    margin: 5%;
}

.link {
    text-emphasis: none;
    text-decoration: none;
    color: black;
}

.title {
    padding: 2%;
    font-stretch: expanded;
}

.imageDescription {
    padding: 1%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(150, 150, 150, 0.7);
    color: white;
    padding-left: 20px;
    padding-right: 20px;

}

.imageContainer {
    position: relative;
}

.subtitle {
    padding: 3%;
}

.buttonContianer {
    padding: 1em;
    margin-bottom: 4em;
}

.buttonContianer button {
    padding: 1em;
    margin: 1em;
}

.editButton {
    color: white;
    background-color: rgb(43, 43, 255);
    border: 3px solid rgb(104, 104, 255);
    border-radius: 1em;
    cursor: pointer;
    float: left;
}

.editButton:hover {
    background-color: rgb(87, 87, 255);
}

.deleteButton {
    color: white;
    background-color: rgb(255, 50, 50);
    border: 3px solid rgb(255, 91, 91);
    border-radius: 1em;
    cursor: pointer;
    float: right;
}

.deleteButton:hover {
    background-color: rgb(255, 91, 91);
}