/* .title {
    text-align: center;
    padding-bottom: 3%;
} */

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.NavContainer {
    position: absolute;
    text-align: left;
    position: sticky;
    top: -1px;
    background-color: whitesmoke;
    padding: 2%;
    z-index: 1000;
    white-space: nowrap;
    vertical-align: top;
    display: inline-block;
    width: 100%;
}
.customLinks {
    display: inline-block;
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden;
    max-width: 60%;
    padding: 2%;
    vertical-align: top;
    padding-top: 0;
}

.NavLink {
    color: black;
    text-decoration: none;
    margin: 3%;
    padding: 1%;
    padding-top: 2px;
    vertical-align: top;
}

.NavLink:hover {
    color: green;
    border-bottom: 3px solid salmon;
}

.Header {
    padding-bottom: 2%;
    display: inline;
}

.NavLinkActive {
    border-bottom: 5px solid red;
}

.userIcon {
    background-color: whitesmoke;
    position: relative;
    height: 2em;
    float: right;
}

.imageLink {
    float: right;
    margin-right: 2em;
}

.imageLink:hover {
    color: green;
    border-bottom: 3px solid salmon;
}

@media only screen 
  and (max-device-width: 1100px) {

    .logo {
        width: 80%;
    }

    .Header {
        padding-bottom: 5%;
        display: inline;
    }

    .NavContainer {
        padding-top: 2em;
        padding-bottom: 2em;
    }

}

@media only screen 
  and (max-device-width: 700px) {
    
    .imageLink {
        display: none
    }

    .logo {
        width: 100%;
    }
    
}

