.title {
    text-align: center;
    padding-bottom: 3%;
}

.NavContainer {
    text-align: center;
}

.NavLink {
    color: blue;
    text-decoration: none;
    padding: 3%;
}

.NavLink:hover {
    color: green;
}