/* .title {
    text-align: center;
    padding-bottom: 3%;
} */

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.NavLink {
    color: black;
    text-decoration: none;
    margin: 3%;
    padding: 1%;
    padding-top: 0;
    vertical-align: top;
}

.NavContainer {
    position: absolute;
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: whitesmoke;

    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    height: 5em;
}

.NavContainer > div {
    display: inline-block;
}

.overflowNav {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 90%;
    
}

.NavLink {
    display: inline-block;
    margin-bottom: 1em;
    font-size: 200%;
    vertical-align: top;
    margin-top: 0.5em;
}

.iconcontainer {
    float: right;
}

.imageLink {
    width: 2em;
    display: inline-block;
    margin-top: 1.5em;
    margin-top: 1em;
}



.overflowNav::-webkit-scrollbar { 
    height: 0.5em;
    color: red;
} 

.overflowNav::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #d10011; 
    
}
.overflowNav > div {
    display: inline-block;
}







.NavLink:hover {
    color: green;
    border-bottom: 3px solid salmon;
}

.Header {
    padding-bottom: 2%;
    display: inline;
}

.NavLinkActive {
    border-bottom: 5px solid red;
}



.imageLink:hover {
    color: green;
    border-bottom: 3px solid salmon;
}

@media only screen 
  and (max-device-width: 1100px) {

    .logo {
        width: 80%;
    }

    .Header {
        padding-bottom: 5%;
        display: inline;
    }

    .NavContainer {
        padding-top: 2em;
        padding-bottom: 2em;
    }

}

@media only screen 
  and (max-device-width: 700px) {
    
    .imageLink {
        display: none
    }

    .logo {
        width: 100%;
    }
    
}

