.root{
    background-color: #d10011;
    min-height: 94vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.container {
    margin-right: 15%;
    margin-left: 15%;
    padding: 7%;
    padding-bottom: 3%;
    padding-top: 3%;
    background-color: whitesmoke;
    min-height: 90%;
    border-radius: 20px;
    min-height: 94vh;
}

@media only screen 
  and (max-device-width: 1100px) {

    .root{
        background-color: whitesmoke;
        padding-top: 0;
        padding-bottom: 0;
        min-height: 100vh;
    }
    
    .container {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
        padding-top: 0;
        background-color: whitesmoke;
        min-height: 100%;
        border-radius: 0;
    }

}